/**
 * Containers
 */
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: container-max-width(large);
	padding-left: $grid-gap;
	padding-right: $grid-gap;

	@include media-breakpoint-down(sm) {
		padding-left: $grid-gap;
		padding-right: $grid-gap;
	}
}

.container--medium {
	max-width: container-max-width(medium);
}